<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482988523889-8mv77s68sjtjci4305o5kdl1adr7f33m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482988523889-8mv77s68sjtjci4305o5kdl1adr7f33m</string>
	<key>API_KEY</key>
	<string>AIzaSyAuOZFKy9QX_U84DeUy_QfDrhlBYP7hy_4</string>
	<key>GCM_SENDER_ID</key>
	<string>482988523889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>onlook-9f3d2</string>
	<key>STORAGE_BUCKET</key>
	<string>onlook-9f3d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482988523889:ios:a54ab70e1d605200e436d0</string>
</dict>
</plist>